
.nav-logo{
    font-weight: "bold";
    font-family: "montserrat-black";
    font-size: 30px;
}
a{
    text-decoration: "none";
}
.section{
    
   padding: 0px 30px;
    
}
.hot-img1{
    width:100%;
    padding: 0px;
    

}

.hot-img{
    width:100%;
   margin-bottom: 6px;
    padding: 0px;
}

.hot-post .hot-post-left{
    margin-top: 2px;

}


.hot-post .hot-post-right{
    margin-top: 2px;  
}